/*html {
    width:100%;
    height:100%;
}*/

h1, h2, h3 {
    color: #fff;
}

body, h1, h2, h3, .button {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
}

body {
    color: #fff;
    overflow-x: hidden;
}

header {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.gridWidget {
    padding: 0px;
}

.widget {
    padding: 15px;
    margin: 5px;
    height: 200px;
    text-align: center;
}

#counter p {
    font-size: 2em;
}

#counter a {
    position: absolute;
    right: 20px;
    bottom: 0;
}

.bookList {
    color: #111;
}

.bookList table {
    width: 100%;
}

.search {
    padding-top: 10px;
    text-align: center;
}

.search input {
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}

.search p {
    margin-bottom: 5px;
}

.search .button {
    margin: 0px;
}

.tableSearch {
    padding: 0px 10px;
}

#newBook input {
    color: #000000;
    width: 100%;
}

#newBook a {
    padding: 15px;
    margin: 2px;
}

#newBook .row {
    padding-top: 5px;
}

#newBook h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.ct-chart .ct-series.ct-series-a .ct-area,.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut){
    fill:#0074D9
}
.ct-chart .ct-series.ct-series-b .ct-area,.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut){
    fill:#F012BE
}
.ct-chart .ct-series.ct-series-c .ct-area,.ct-chart .ct-series.ct-series-c .ct-slice:not(.ct-donut){
    fill:#85144B
}
.ct-chart .ct-series.ct-series-d .ct-area,.ct-chart .ct-series.ct-series-d .ct-slice:not(.ct-donut){
    fill:#39CCCC
}
.ct-chart .ct-series.ct-series-e .ct-area,.ct-chart .ct-series.ct-series-e .ct-slice:not(.ct-donut){
    fill:#2ECC40
}
.ct-chart .ct-series.ct-series-f .ct-area,.ct-chart .ct-series.ct-series-f .ct-slice:not(.ct-donut){
    fill:#B10DC9
}
.ct-chart .ct-series.ct-series-g .ct-area,.ct-chart .ct-series.ct-series-g .ct-slice:not(.ct-donut){
    fill:#FF4136
}

.ct-chart .ct-label, .ct-chart .ct-label.ct-horizontal {
    fill: #ffffff;
}

/***
   colors.css v2.0.0
   http://clrs.cc
   @mrmrs
   MIT License
***/
/*
   SKINS
   - Backgrounds
   - Colors
*/
/* Backgrounds */
.bg-navy {
    background-color: #001F3F; }

.bg-blue {
    background-color: #0074D9; }

.bg-aqua {
    background-color: #7FDBFF; }

.bg-teal {
    background-color: #39CCCC; }

.bg-olive {
    background-color: #3D9970; }

.bg-green {
    background-color: #2ECC40; }

.bg-lime {
    background-color: #01FF70; }

.bg-yellow {
    background-color: #FFDC00; }

.bg-orange {
    background-color: #FF851B; }

.bg-red {
    background-color: #FF4136; }

.bg-fuchsia {
    background-color: #F012BE; }

.bg-purple {
    background-color: #B10DC9; }

.bg-maroon {
    background-color: #85144B; }

.bg-white {
    background-color: #fff; }

.bg-gray {
    background-color: #aaa; }

.bg-silver {
    background-color: #ddd; }

.bg-black {
    background-color: #111; }

/* Colors */
.navy {
    color: #001F3F; }

.blue {
    color: #0074D9; }

.aqua {
    color: #7FDBFF; }

.teal {
    color: #39CCCC; }

.olive {
    color: #3D9970; }

.green {
    color: #2ECC40; }

.lime {
    color: #01FF70; }

.yellow {
    color: #FFDC00; }

.orange {
    color: #FF851B; }

.red {
    color: #FF4136; }

.fuchsia {
    color: #F012BE; }

.purple {
    color: #B10DC9; }

.maroon {
    color: #85144B; }

.white {
    color: #fff; }

.silver {
    color: #ddd; }

.gray {
    color: #aaa; }

.black {
    color: #111; }